#search-autocomplete{
    width: 30%;
    // height: 40px;
}
.searchDetails{
    display: block;
}
.inputSearch{
    height: 40px;
    // padding: 10px 0;
  box-shadow: 0px 2px 1px rgba(68, 68, 68, 0.6);    
}